{% extends 'catalog/base.html' %}

{% block content %}
<main>
    <div class="album py-3 bg-body-tertiary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card shadow-lg">
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-block btn-outline-success">
                                    {% if object %}
                                    Изменить
                                    {% else %}
                                    Создать
                                    {% endif %}
                                </button>
                                <a type="button" class="btn btn-sm btn-block btn-outline-primary"
                                   href="{% url 'catalog:games_list' %}">
                                    Отменить
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
