{% extends 'catalog/base.html' %}
{% load media %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <img src="{{ object.photo | media }}">
        <div class="card-body">
            <p class="card-text">Название игры: {{ object.product_name }}</p>
            <p class="card-text">Цена: {{ object.price_of_product }} Руб.</p>
            <p class="card-text">Жанр: {{ object.category }}</p>
            <p class="card-text">Описание: {{ object.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
    </div>
</div>
{% endblock %}