{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <p class="card-text">Действительно хотите удалить "{{ object.product_name }}" ?</p>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            Удалить
                        </button>
                        <a href="{% url 'catalog:games_list' %}"
                           class="btn btn-sm btn-outline-secondary">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}